# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual env
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project
checkpoints/
results/
data/UAV123_10fps/
data/UAV20L/
data/train2017/
data/*.zip

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
